
.img-thumbnail {
  border: none;
}

figure {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

figcaption {
  opacity: 0;
  position: absolute;
  top: 0; 
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center;
  transition: all .5s ease-in-out;
}

figure:hover figcaption {
  left: 0;
  opacity: 0.7;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;  
}

.gallery-container {
  max-width: 1200px;
}

h1 {
  font-size: 12vw;
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
}

.jumbotron {
  height: 60vh;
  background-image: linear-gradient(rgba(77, 255, 0, 0.5), rgba(77, 255, 0, 0.5)), url("src/assets/images/jumbo_bg.jpg");
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

