h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  font-style: italic;
  padding: 10px;
}

h3 {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
}

li, p {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

li span {
  font-style: none;
}
